# {{ ansible_managed }}
[Unit]
Description=Prometheus Node Exporter

[Service]
Restart=always
ExecStart={{ item.bin_path }}/node_exporter --web.listen-address=:{{ item.port }}

[Install]
WantedBy=multi-user.target
