# {{ ansible_managed }}
[Unit]
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name={{ item.service_name }} \
                          --net={{ prometheus_docker_network_name }} \
{% if item.extra_docker_args is defined %}
{% for docker_arg in item.extra_docker_args %}
                          {{ docker_arg }} \
{% endfor %}
{% endif %}
{% if item.volumes is defined %}
{% for volume in item.volumes %}
                          -v {{ volume }} \
{% endfor %}
{% endif %}
{% if item.port is defined %}
                          -p {{ bind_address }}:{{ item.port }}:{{ item.port }} \
{% endif %}
{% if item.env_file is defined %}
                          --env-file {{ item.env_file }} \
{% endif %}
                          {{ item.image }} \
                          {{ item.service_args | default([]) | join(' \\\n                          ') }}
ExecStop=/bin/docker stop -t 2 {{ item.service_name }}
ExecStopPost=/bin/docker rm -f {{ item.service_name }}

[Install]
WantedBy=multi-user.target
