#! /bin/sh

docker run --rm --net=host \
    -v "{{ chameleon_usage_config_dir }}/google-analytics-key.json:/etc/google-analytics-key.json" \
    -v "{{ chameleon_usage_config_dir }}/my.cnf:/etc/mysql/my.cnf" \
    {{ chameleon_usage_docker_image }} \
    heat_template_downloads --google-key-file-location /etc/google-analytics-key.json \
    --google-profile-id {{google_analytics_view_id}} --mysql-conf /etc/mysql/my.cnf 2>&1
