[clientroot]
host = {{ mysql_host }}
port = 3306
user = root
password = {{ root_password }}

[clientcc]
host = {{ mysql_host }}
port = 3306
user = {{ chameleon_usage_mysql_user }}
password = {{ chameleon_usage_mysql_password }}
