---
username: "{{ chameleon_usage_site_user }}"
password: "{{ chameleon_usage_site_password }}"

region_name: {{openstack_region_name}}

openstack_keystone_auth_url: {{ openstack_keystone_auth_url }}
keystone_admin_username: {{ keystone_admin_username }}
keystone_admin_password: {{ keystone_admin_password }}
keystone_admin_project_name: {{ keystone_admin_project_name }}

maintenance_project: {{ maintenance_project_name }}
admin_projects: {{ admin_projects }}
devops_projects: {{ devops_projects }}
