export TAS_URL='{{ user_project_report_tas_url }}'
export TAS_CLIENT='{{ user_project_report_tas_usr }}'
export TAS_CLIENT_SECRET='{{ user_project_report_tas_pswd }}'

export MYSQL_HOST='{{ user_project_report_mysql_tacc }}'
export MYSQL_HOST_UC='{{ user_project_report_mysql_uc }}'
export MYSQL_HOST_KVM='{{ user_project_report_mysql_kvm }}'
export MYSQL_USER='{{ user_project_report_mysql_user }}'
export MYSQL_PASSWD='{{ user_project_report_mysql_pswd }}'

export PORTAL_HOST='{{ user_project_report_portal_host }}'
export PORTAL_USER='{{ user_project_report_portal_user }}'
export PORTAL_PASSWD='{{ user_project_report_portal_pswd }}'

