export CHAMELEON_USAGE_DB_HOST='{{ mysql_host }}'
export CHAMELEON_USAGE_DB_USER='{{ chameleon_usage_mysql_user }}'
export CHAMELEON_USAGE_DB_PASSWORD='{{ chameleon_usage_mysql_password }}'

export KEYCLOAK_SERVER_URL='{{ keycloak_url }}'
export KEYCLOAK_CLIENT_ID='{{ chameleon_usage_keycloak_client_id }}'
export KEYCLOAK_CLIENT_SECRET='{{ chameleon_usage_keycloak_client_secret }}'
