# Ansible caches facts here
.facts/
# When ansible fails, retry files are left in the playbooks directory
*.retry
# Checksums/stamps for dependencies
*.sha256
*.gitref


#secrets
site-config/passwords.yml
site-config/certificates


# The virtualenv environment(s)
venv*
.venv*

# Python build files
*.pyc
__pycache__/

# Ansible Galaxy roles and collections
roles/ansible_collections
