# Ansible caches facts here
.facts/
# When ansible fails, retry files are left in the playbooks directory
*.retry
# Checksums/stamps for dependencies
*.sha256
*.gitref
# The default site-config is generated here
site-config/
# The vault passwords are stored here by convention
vault_password
# Ansible Galaxy roles
roles/galaxy.ansible.com/
# The virtualenv environment(s)
venv*
# Kolla SSL certificates (dev only)
kolla/certificates
kolla/node_custom_config/certificates
# Vagrant development environment
vagrant/.vagrant
vagrant/storage
vagrant/vagrantkey*
# Python build files
*.pyc
__pycache__/
