# File that contains what region/site we're targeting.
.ansible-inventory
# Ansible caches facts here
.facts/
# Vagrant caches its state here
.vagrant/
# When ansible fails, retry files are left in the playbooks directory
*.retry
# The vault passwords are stored here by convention
vault_password
# The virtualenv environment
venv/
# Kolla SSL certificates (dev only)
kolla/certificates
kolla/node_custom_config/certificates
