# ansible version for kolla-ansible victoria release
ansible<2.10

git+https://github.com/ChameleonCloud/kolla-ansible@backport/victoria

# client tools
openstackclient
osc-lib
python-ironicclient

# testing tools
tempest
rally-openstack
