# ansible version for kolla-ansible wallaby release
ansible<3.0

git+https://github.com/chameleoncloud/kolla-ansible@backport/wallaby

# client tools
openstackclient
osc-lib
python-ironicclient

# testing tools
tempest
rally-openstack
