[DEFAULT]
debug: {{ allocations_api_debug | bool }}

[serviceaccount]
auth_url: {{ keystone_public_url }}/v3
auth_users: {{ allocations_auth_users | join(",") }}

[redis]
host: {{ allocations_db_host }}
port: {{ allocations_db_port }}
