physnet_mappings:
  {{tenks_provisoning_physnet.name}}: {{tenks_provisoning_physnet.iface}}
  {{tenks_sharednet_physnet.name}}: {{tenks_sharednet_physnet.iface}}

bridge_type: "linuxbridge"

# The Glance name or UUID of the image to use for the deployment kernel.
deploy_kernel: {{ deploy_kernel_id }}
# The Glance name or UUID of the image to use for the deployment ramdisk.
deploy_ramdisk: {{ deploy_ramdisk_id }}

node_types:
  # The type name.
  type0:
    # The amount of RAM, in mebibytes.
    memory_mb: 4096
    # The number of virtual CPUs.
    vcpus: 2
    # A list of volumes, each with a capacity.
    volumes:
      - capacity: 10GB
    # A list of physical network names to connect to. These physical network
    # names should be keyed in `physnet_mappings` in each hypervisor's host
    # vars.

    # note! only the first one listed will be used for PXE boot, and therefore must be ironic-provisioning!
    physical_networks:
      - {{tenks_provisoning_physnet.name}}
      - {{tenks_sharednet_physnet.name}}

specs:
    # The type in `node_types` that this spec refers to. Required.
  - type: type0
    # The number of nodes to create of this spec. Required.
    count: 3
    ironic_config:
      # The resource class that nodes of this spec should use in Ironic.
      # Required if `ironic_config` has been specified.
      resource_class: my_rc

nova_flavors:
  - resource_class: my_rc
    node_type: type0

