# {{ ansible_managed }}
# This is based on the default value of the installation configuration found at
# https://docs.projectcalico.org/manifests/custom-resources.yaml

# This section includes base Calico installation configuration.
# For more information, see: https://docs.projectcalico.org/v3.21/reference/installation/api#operator.tigera.io/v1.Installation
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  controlPlaneNodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  # Configures Calico networking.
  calicoNetwork:
    # Note: The ipPools section cannot be modified post-install.
    ipPools:
      - cidr: {{ k3s_cluster_cidr }}
        blockSize: {{ k3s_cluster_node_blocksize }}
        encapsulation: IPIP
        natOutgoing: Enabled
        nodeSelector: all()
    # Ensure calico uses the last Wireguard interface
    nodeAddressAutodetectionV4:
      firstFound: false
      interface: wg-.*
    containerIPForwarding: Enabled
    # Lower MTU to accommodate Wireguard encapsulation; Calico uses IPIP encapsulation
    # which adds a 20-byte overhead. The underlying Wireguard interface has an MTU of
    # 1420 configured, so we subtract 20 to get 1400.
    mtu: 1400
  # TODO(jason): remove this when we have a pull-through cache deployed
  # Pull control plane images for Calico from our private registry to avoid rate limits.
  imagePullSecrets:
    - name: chi-readonly-secret
      registry: docker.chameleoncloud.org/

---

# This section configures the Calico API server.
# For more information, see: https://docs.projectcalico.org/v3.21/reference/installation/api#operator.tigera.io/v1.APIServer
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
spec: {}

