---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: docker-registry
  template:
    metadata:
      labels:
        app.kubernetes.io/name: docker-registry
    spec:
      containers:
      - resources:
        name: registry
        image: registry:2
        ports:
        - name: registry-port
          containerPort: 5000
        volumeMounts:
        - mountPath: /var/lib/registry
          name: registry-data
        env:
        - name: REGISTRY_PROXY_REMOTEURL
          value: https://registry-1.docker.io
        - name: REGISTRY_STORAGE_DELETE_ENABLED
          value: "true"
      volumes:
      - name: registry-data
        hostPath:
          path: /var/lib/registry
      nodeSelector:
        node-role.kubernetes.io/master: "true"

---
apiVersion: v1
kind: Service
metadata:
  name: docker-registry
spec:
  selector:
    app.kubernetes.io/name: docker-registry
  ports:
  - name: registry-port
    protocol: TCP
    port: 80
    targetPort: registry-port
