---
version: 0.1
log:
  fields:
    service: {{ docker_registry_service_name }}
storage:
  cache:
    blobdescriptor: inmemory
  swift:
    username: {{ docker_registry_swift_username }}
    password: {{ docker_registry_swift_password }}
    domain: {{ docker_registry_swift_domain }}
    tenant: {{ docker_registry_swift_tenant }}
    authurl: {{ docker_registry_swift_authurl }}
    region: {{ docker_registry_swift_region }}
    container: {{ docker_registry_swift_containername }}
    endpointtype: {{ docker_registry_swift_endpointtype }}
  delete:
    enabled: true
{% if maintenance is defined and maintenance | bool %}
  maintenance:
    readonly:
      enabled: true
{% endif %}
http:
  addr: :5000
  debug:
    addr: :5001
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
