#!/usr/bin/env bash
set -e -u

echo "Marking tags older than most recent 10 for deletion ..."
docker run --network {{ docker_registry_docker_network }} --rm anoxis/registry-cli \
  -r http://registry:5000 --delete --num 10

# Perform deletion. Need to put registry into read-only mode
# to avoid corruption.

pushd {{ docker_registry_config_path }}

echo "Restarting registry in maintenance mode ..."
ln -sf config.maintenance.yml config.yml
systemctl restart {{ docker_registry_service_name }}

sleep 2

echo "Performing full mark-sweep GC ..."
docker exec {{ docker_registry_service_name }} \
  bin/registry garbage-collect /etc/docker/registry/config.yml

# Restoring original config
ln -sf config.prod.yml config.yml
echo "Restarting registry in production mode ..."
systemctl restart {{ docker_registry_service_name }}