[Unit]
Description=Docker Registry server
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=%N \
                          -p {{ api_interface_address }}:{{ docker_registry_port }}:5000 \
                          -p 127.0.0.1:{{ docker_registry_debug_port }}:5001 \
                          --network {{ docker_registry_docker_network }} \
                          --network-alias registry \
                          -v {{ docker_registry_config_path }}:/etc/docker/registry:ro \
                          {{ docker_registry_image }}
ExecStop=/bin/docker stop -t 2 %N
ExecStopPost=/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target
