# {{ ansible_managed }}
[Unit]
Description=OpenStack metrics exporter
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=%N \
                          --publish {{ openstack_prometheus_exporter_port }}:9103 \
                          --env-file {{ openstack_prometheus_exporter_config_path }}/{{ openstack_prometheus_exporter_service_name }}.env \
                          {{ openstack_prometheus_exporter_docker_image }}
ExecStop=/bin/docker stop -t 2 %N
ExecStopPost=/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target
