OS_AUTH_URL={{ openstack_prometheus_exporter_auth_url }}/v3
OS_AUTH_STRATEGY=keystone
OS_PASSWORD={{ openstack_prometheus_exporter_password}}
OS_PROJECT_NAME={{ openstack_prometheus_exporter_project_name }}
OS_USERNAME={{ openstack_prometheus_exporter_username }}
OS_USER_DOMAIN_NAME={{ openstack_prometheus_exporter_user_domain_name }}
OS_PROJECT_DOMAIN_NAME={{ openstack_prometheus_exporter_project_domain_name }}
OS_REGION_NAME={{ openstack_prometheus_exporter_region_name }}
OS_NO_CACHE={{ openstack_prometheus_exporter_no_cache }}
TIMEOUT_SECONDS={{ openstack_prometheus_exporter_timeout }}
OS_POLLING_INTERVAL={{ openstack_prometheus_exporter_polling_interval }}
OS_RETRIES={{ openstack_prometheus_exporter_retries }}
LISTEN_PORT=9103
OS_CPU_OC_RATIO={{ openstack_prometheus_exporter_cpu_oc_ratio }}
OS_RAM_OC_RATIO={{ openstack_prometheus_exporter_ram_oc_ratio }}
CINDER_ENDPOINT_TYPE=publicURL
GLANCE_ENDPOINT_TYPE=publicURL
KEYSTONE_ENDPOINT_TYPE=publicURL
NOVA_ENDPOINT_TYPE=publicURL
NEUTRON_ENDPOINT_TYPE=publicURL
GNOCCHI_ENDPOINT = {{ openstack_prometheus_exporter_gnocchi_endpoint }}
OS_IDENTITY_API_VERSION=3
