[client]
OS_AUTH_URL="{{ openstack_prometheus_exporter_auth_url }}"
OS_PASSWORD="{{ }}"
OS_PROJECT_NAME="{{ openstack_prometheus_exporter_project_name }}"
OS_USERNAME="{{ openstack_prometheus_exporter_username }}"
OS_USER_DOMAIN_NAME="{{ openstack_prometheus_exporter_user_domain_name }}"
OS_REGION_NAME="{{ openstack_prometheus_exporter_region_name }}"
OS_NO_CACHE="{{ openstack_prometheus_exporter_no_cache }}"
OS_TENANT_NAME="{{ openstack_prometheus_exporter_tenant_name }}"
TIMEOUT_SECONDS={{ opeopenstack_prometheus_exporter_nstack_prometheus_exporter_timeout }}
OS_POLLING_INTERVAL={{ openstack_prometheus_exporter_polling_interval }}
OS_RETRIES={{ openstack_prometheus_exporter_retries }}
LISTEN_PORT={{ openstack_prometheus_exporter_port }}
OS_CPU_OC_RATIO={{ openstack_prometheus_exporter_cpu_oc_ratio }}
OS_RAM_OC_RATIO={{ openstack_prometheus_exporter_ram_oc_ratio }}
