#!/bin/bash

cd "{{ glance_backup_origin_dir }}" && \
  find . -maxdepth 1 -type f | xargs -n 100 \
  swift --auth-version="{{ keystone_authversion }}" \
  --os-region-name="{{ openstack_region_name }}" \
  --os-auth-url="{{ glance_backup_keystone_endpoint }}" \
  --os-username="{{ glance_backup_username }}" \
  --os-password="{{ glance_backup_password }}" \
  --os-tenant-name="{{ glance_backup_tenant }}" \
  --os-user-domain-id="{{ glance_backup_user_domain }}" \
  --os-project-domain-id="{{ glance_backup_project_domain }}" \
  upload "{{ glance_backup_container_name }}" \
  --changed \
  --segment-size "{{ glance_backup_segment_size }}" \
  2>&1 | /usr/bin/logger -t "{{ glance_backup_log_key }}"

