---
auth_url: {{ openstack_keystone_auth_url }}
admin_username: {{ keystone_admin_username }}
admin_password: {{ keystone_admin_password }}
admin_project: {{ keystone_admin_project_name }}

hide_image_age_in_month: {{ hide_image_age_in_month }}
delete_image_age_in_month: {{ delete_image_age_in_month }}
