---
# use auth information loaded as env vars
image_store_cloud: "envvars"
image_container: {{ image_container }}
image_type: {{ image_type }}
image_prefix: {{ image_prefix }}
scope: {{ image_scope }}
object_store_url: {{ image_object_store_url }}
