---
auth_url: {{ openstack_keystone_auth_url }}
admin_username: {{ keystone_admin_username }}
admin_password: {{ keystone_admin_password }}
admin_project: {{ keystone_admin_project_name }}
region_name: {{ openstack_region_name }}
image_container: {{ image_container }}
image_type: {{ image_type }}
image_prefix: {{ image_prefix }}
scope: {{ image_scope }}
image_store_cloud: {{ openstack_region_name }}
object_store_url: {{ image_object_store_url }}
