export TAS_URL= "{{ usage_report_tas_url }}"
export TAS_CLIENT= "{{ usage_report_tas_usr }}"
export TAS_CLIENT_SECRET= "{{ usage_report_tas_pswd }}"

export MYSQL_HOST= "{{ usage_report_mysql_tacc }}"
export MYSQL_HOST_UC= "{{ usage_report_mysql_uc }}"
export MYSQL_HOST_KVM= "{{ usage_report_mysql_kvm }}"
export MYSQL_USER= "{{ usage_report_mysql_user }}"
export MYSQL_PASSWD= "{{ usage_report_mysql_pswd }}"

export PORTAL_HOST= "{{ usage_report_portal_host }}"
export PORTAL_USER= "{{ usage_report_portal_user }}"
export PORTAL_PASSWD= "{{ usage_report_portal_pswd }}"

