export TAS_URL= "{{ alloc_report_tas_url }}"
export TAS_CLIENT= "{{ alloc_report_tas_usr }}"
export TAS_CLIENT_SECRET= "{{ alloc_report_tas_pswd }}"

export MYSQL_HOST= "{{ alloc_report_mysql_tacc }}"
export MYSQL_HOST_UC= "{{ alloc_report_mysql_uc }}"
export MYSQL_HOST_KVM= "{{ alloc_report_mysql_kvm }}"
export MYSQL_USER= "{{ alloc_report_mysql_user }}"
export MYSQL_PASSWD= "{{ alloc_report_mysql_pswd }}"

export PORTAL_HOST= "{{ alloc_report_portal_host }}"
export PORTAL_USER= "{{ alloc_report_portal_user }}"
export PORTAL_PASSWD= "{{ alloc_report_portal_pswd }}"

