{{ define "slack.chameleon.color" }}
{{- if eq .Status "firing" -}}
  {{ if eq .CommonLabels.severity "warning" }}warning{{ else }}danger{{ end }}
{{- else -}}
  good
{{- end -}}
{{ end }}

{{ define "slack.chameleon.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }} @ {{ .CommonLabels.hostname }} ({{ .CommonLabels.severity }})
{{ end }}

{{ define "slack.chameleon.text" }}
{{ if or (and (eq (len .Alerts.Firing) 1) (eq (len .Alerts.Resolved) 0)) (and (eq (len .Alerts.Firing) 0) (eq (len .Alerts.Resolved) 1)) }}
{{ range .Alerts.Firing }}{{ .Annotations.description }}{{ end }}{{ range .Alerts.Resolved }}{{ .Annotations.description }}{{ end }}
{{ else }}
{{- if gt (len .Alerts.Firing) 0 }}
*Alerts Firing:*
{{ range .Alerts.Firing }}- {{ .Annotations.description }}
{{ end }}{{ end }}
{{- if gt (len .Alerts.Resolved) 0 }}
*Alerts Resolved:*
{{ range .Alerts.Resolved }}- {{ .Annotations.description }}
{{ end }}{{ end }}
{{ end }}
{{- if gt (len .Alerts.Firing) 0 -}}
  {{ if .CommonAnnotations.runbook -}}
    <{{ .CommonAnnotations.runbook }}|:notebook: Runbook>
  {{- else -}}
    *No Runbook!* <https://github.com/ChameleonCloud/ansible-playbooks/wiki|Add runbook>
  {{- end }}
{{- end }}
{{ end }}
