OS_PROJECT_NAME={{ osg_project_name }}
OS_USERNAME={{ osg_service_username }}
OS_PASSWORD={{ osg_service_password }}
OS_AUTH_URL={{ keystone_public_url }}
OS_AUTH_STRATEGY=keystone
OS_REGION_NAME={{ openstack_region_name }}
OS_PROJECT_DOMAIN_NAME=default
OS_USER_DOMAIN_NAME=default
OS_IDENTITY_API_VERSION=3
OS_AUTH_TYPE=v3password
KEYSTONE_ENDPOINT_TYPE=publicURL
