[Unit]
Description=Nginx server
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=%N \
                          -v /etc/nginx:/etc/nginx \
                          -v /etc/pki/tls:/ssl \
                          --net=nginx -p 80:80 -p 443:443 \
                          {{ nginx_docker_image }}
ExecStop=/bin/docker stop -t 2 %N
ExecStopPost=/bin/docker rm -f %N
ExecReload=/bin/docker exec %N nginx -s reload

[Install]
WantedBy=multi-user.target
