server {
    # Automatically redirect to HTTPS
    listen 80;
    server_name {{ nginx_server_name }};
    rewrite ^ https://$host$request_uri? permanent;
}

server {
  listen 443 ssl;
  server_name {{ nginx_server_name }};
  # By convention, these certificates will be named after the server_name
  ssl_certificate /ssl/certs/{{ nginx_server_name }}.crt;
  ssl_certificate_key /ssl/private/{{ nginx_server_name }}.key;

  # Secure SSL parameters recommended by https://cipherli.st/
  # Last updated: 2018-08-17
  ssl_protocols TLSv1.3;
  ssl_prefer_server_ciphers on;
  ssl_dhparam /etc/nginx/dhparam.pem;
  ssl_ciphers ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384;
  ssl_ecdh_curve secp384r1;
  ssl_session_timeout  10m;
  ssl_session_cache shared:SSL:10m;
  ssl_session_tickets off;
  resolver {% for dns_server in nginx_dns_servers %} {{ dns_server }} {% endfor %} valid=300s;
  resolver_timeout 5s;
  add_header X-Frame-Options DENY;
  add_header X-Content-Type-Options nosniff;
  add_header X-XSS-Protection "1; mode=block";
  # Disabling the following because they can be very destructive
  #ssl_stapling on;
  #ssl_stapling_verify on;
  #add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";

  {{ nginx_server_conf }}
}
