server {
    # Automatically redirect to HTTPS
    listen 80;
    server_name {{ nginx_server_name }};
    rewrite ^ https://$host$request_uri? permanent;
}

server {
  listen 443 ssl;
  server_name {{ nginx_server_name }};
  # By convention, these certificates will be named after the server_name
  ssl_certificate /ssl/certs/{{ nginx_server_name }}.bundle.cer;
  ssl_certificate_key /ssl/private/{{ nginx_server_name }}.key;

  {{ nginx_server_conf }}
}
