---
auth_url: {{ openstack_keystone_auth_url }}
username: {{ metric_collector_keystone_user }}
user_domain_name: default
project_name: {{ metric_collector_keystone_project }}
project_domain_name: default
password: {{ metric_collector_keystone_password }}
region_name: {{ openstack_region_name }}
interface: internal
interval: 30

{% if metric_collector_corsa_switches | length > 0 %}
switch_corsa:
  resource_type: switch
  # Batch size is roughly the number of ports across all switches
  batch_size: {{ (metric_collector_corsa_switches | length) * 32 }}
  switches:
{% for switch in metric_collector_corsa_switches %}
    - name: {{ switch.name }}
      address: https://{{ switch.ip }}
      token: {{ switch.token }}
      ssl_verify: False
{% endfor %}
{% endif %}
