[Unit]
Description=Gnocchi metric collector for module %I
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=%p_%i \
                          --mount 'type=bind,src={{ metric_collector_config_path }}/config.yml,dst=/etc/metrics/config.yml' \
                          {{ metric_collector_docker_image }} %i
ExecStop=/bin/docker stop -t 2 %p_%i
ExecStopPost=/bin/docker rm -f %p_%i

[Install]
WantedBy=multi-user.target
