[Unit]
Description=JupyterHub server
After={{ jupyterhub_db_service_name }}.service

[Service]
Restart=always
ExecStart=/bin/docker run --name %N \
                          --net {{ jupyterhub_docker_network }} \
                          --publish '{{ jupyterhub_port }}:8000' \
                          --mount 'type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock' \
                          --mount 'type=volume,src={{ jupyterhub_docker_volume_name }},dst=/data' \
                          --env-file {{ jupyterhub_config_path }}/%N.env \
                          {{ jupyterhub_docker_image }}
ExecStop=/bin/docker stop -t 2 %N
ExecStopPost=/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target
