OS_AUTH_URL={{ keystone_public_url }}/v3

DOCKER_NETWORK_NAME={{ jupyterhub_docker_network }}
DOCKER_NOTEBOOK_DIR={{ jupyterhub_notebook_workdir }}
DOCKER_NOTEBOOK_IMAGE={{ jupyterhub_notebook_docker_image }}
JUPYTERHUB_CRYPT_KEY={{ jupyterhub_crypt_key }}
MYSQL_HOST={{ jupyterhub_db_service_name }}
MYSQL_USER={{ jupyterhub_db_user }}
MYSQL_PASSWORD={{ jupyterhub_db_password }}
MYSQL_DATABASE={{ jupyterhub_db_db }}

ZENODO_DEFAULT_ACCESS_TOKEN={{ zenodo_access_token }}
