[Unit]
Description=Ceph metrics exporter
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=ceph-exporter \
                          -v {{ ceph_config_dir }}:/etc/ceph \
                          -p {{ ceph_exporter_port }}:9148 \
                          {{ ceph_exporter_docker_image }}
ExecStop=/bin/docker stop -t 2 ceph-exporter
ExecStopPost=/bin/docker rm -f ceph-exporter

[Install]
WantedBy=multi-user.target
