# This is a clouds.yaml file, which can be used by OpenStack tools as a source
# of configuration on how to connect to Chameleon.
#
# If you are only a member of one project, just put this file in
# ~/.config/openstack/clouds.yaml and tools like the CLI will just work with no
# further config. (You will need to add your password to the auth section)
#
# If you are a member of multiple projects, when invoking the CLI, provide
# either the env variable OS_CLOUD=<project> or flag --os-cloud=<project> to
# target your operation to the desired project, where <project> is the name
# (or nickname, if set) of your project.

clouds:
{% raw %}
  {{ cloud_name }}:
    auth:
      auth_url: {{ auth_url }}
      username: {{ user.username }}
      project_id: {{ tenant_id }}
      project_name: {{ tenant_name }}
  {% if user.is_federated %}
      protocol: openid
{% endraw %}
      identity_provider: {{ identity_provider_name }}
      discovery_endpoint: {{ identity_provider_url }}/.well-known/openid-configuration
      client_id: {{ keystone_oidc_client_id }}
{% raw %}
      access_token_type: access_token
      client_secret: none
      project_domain_name: {{ user_domain_name }}
    auth_type: v3oidcpassword
  {% else %}
    auth_type: v3password
  {% endif %}
{% endraw %}
