[Unit]
Description=Grafana server
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=grafana \
                          --net={{ grafana_docker_network_name }} \
                          -v {{ grafana_docker_volume_name }}:/var/lib/grafana \
                          {{ grafana_docker_image }}
ExecStop=/bin/docker stop -t 2 grafana
ExecStopPost=/bin/docker rm -f grafana

[Install]
WantedBy=multi-user.target
