# It's very important that these values are not quoted!

AWS_ENDPOINT_URL={{ usage_collector_s3_endpoint }}
AWS_ACCESS_KEY_ID={{ usage_collector_s3_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ usage_collector_secret_access_key }}
