# {{ ansible_managed }}
[Unit]
Description=Chameleon vendordata service
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name %N \
                                --net host \
                                -v '{{ vendordata_config_file }}:{{ vendordata_config_file }}' \
                                -v '{{ nova_api_config_file }}:{{ vendordata_nova_config_file }}' \
                                {{ vendordata_service_docker_image }}
ExecStop=/bin/docker stop -t 2 %N
ExecStopPost=/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target
