#! /bin/sh

docker run --rm \
  --net=host \
  --env-file "{{ hammers_env_file }}" \
  -e TZ=$(timedatectl | grep 'Time zone' | awk '{ print $3 }') \
  -v "/etc/hammers/slack.json:/etc/hammers/slack.json" \
  -v "/etc/hammers/lease-stacking-config.json:/etc/hammers/lease-stacking-config.json" \
  -v "/etc/hammers/my.cnf:/root/.my.cnf" \
  -v "{{ hammers_kubeconfig_path }}:/etc/hammers/kubeconfig.yml" \
  {{ hammers_docker_image }} "$@" \
  --slack "{{ hammers_config_path }}/slack.json" 2>&1
