#! /bin/sh

slack="{{ hammers_config_path }}/slack.json"
log="/usr/bin/logger"
log_tag="hammers-"$1

docker run -it \
  -e "{{ hammers_env_file }}" \
  -v "/root/adminrc:/etc/hammers/adminrc" \
  -v "/etc/hammers/slack.json:/etc/hammers/slack.json" \
  -v "/etc/hammers/my.cnf:/root/.my.cnf" \
  {{ hammers_docker_image }} $@ \
  --slack $slack --osrc /etc/hammers/adminrc 2>&1 | $log -t $log_tag
