OS_AUTH_STRATEGY=keystone
OS_AUTH_URL={{ keystone_internal_url }}/v3
OS_USERNAME={{ hammers_openstack_user }}
OS_PASSWORD={{ hammers_openstack_password }}
OS_PROJECT_NAME={{ hammers_openstack_project_name }}
OS_USER_DOMAIN_NAME=default
OS_PROJECT_DOMAIN_NAME=default
OS_REGION_NAME={{ openstack_region_name }}
OS_IDENTITY_API_VERSION=3
OS_IRONIC_API_VERSION=1.29
HAMMERS_SMTP_HOST={{ hammers_smtp_host }}
HAMMERS_SMTP_PORT={{ hammers_smtp_port }}
HAMMERS_SMTP_SSL={{ hammers_smtp_ssl }}
HAMMERS_SMTP_USER={{ hammers_smtp_user }}
HAMMERS_SMTP_PASSWORD={{ hammers_smtp_password }}
