OS_AUTH_STRATEGY=keystone
OS_AUTH_URL={{ keystone_internal_url }}
OS_USERNAME={{ hammers_openstack_user }}
OS_PASSWORD={{ hammers_openstack_password }}
OS_PROJECT_NAME={{ hammers_openstack_project_name }}
OS_USER_DOMAIN_NAME=default
OS_PROJECT_DOMAIN_NAME=default
OS_REGION_NAME={{ openstack_region_name }}
OS_IDENTITY_API_VERSION=3
OS_IRONIC_API_VERSION=1.29
