# {{ ansible_managed }}
[Unit]
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=%N \
{% if service.network %}
                          --net={{ service.network }} \
{% endif %}
{% for mount_def in service.mounts %}
                          --mount {{ mount_def }} \
{% endfor %}
{% for port_def in service.ports %}
                          -p {{ service.bind_address }}:{{ port_def }} \
{% endfor %}
{% for key, value in service.environment.items() %}
                          -e {{ key }}={{ value }} \
{% endfor %}
                          {{ service.image }} {% if service.command %}{{ service.command }}{% endif %}

ExecStop=/bin/docker stop -t {{ service.stop_timeout }} %N
ExecStopPost=/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target
