#!/bin/sh
# {{ ansible_managed }}
# External auth provider intended to be used via Apache external authentication
# module. Use in Apache configuration like so:
#
#   AuthType Basic
#   AuthName "Restricted"
#   AuthBasicProvider external
#   AuthExternal keystone
#   require valid-user
#
#   AddExternalAuth keystone "/path/to/keystone_auth.sh"
#   SetExternalAuthMethod keystone pipe
#
# Requires 'authnz_external' enabled in Apache.
#
read user
read password

exec curl -sSf -H "Content-Type: application/json" --data-binary @- \
  "{{ apache_keystone_auth_url }}/auth/tokens" >/dev/null <<JSON
{
  "auth": {
    "identity": {
      "methods": ["password"],
      "password": {
        "user": {
          "name": "$user",
          "domain": { "id": "default" },
          "password": "$password"
        }
      }
    },
    "scope": {
      "project": {
        "name": "{{ apache_keystone_auth_project }}",
        "domain": { "id": "default" }
      }
    }
  }
}
JSON
