# {{ ansible_managed }}
# Virtual host for {{ apache_server_name }}

<VirtualHost *:{{ apache_server_port }}>
  ServerName {{ apache_server_name }}

  # Allow Keystone authentication to be used
  DefineExternalAuth keystone-user environment /etc/httpd/keystone_user.sh

  ## SSL termination
{% if apache_server_ssl_certificate_file is not defined -%}
  {% set apache_server_ssl_certificate_file = apache_server_name_normalized ~ '.crt' %}
{%- endif %}
{% if apache_server_ssl_certificate_key_file is not defined -%}
  {% set apache_server_ssl_certificate_key_file = apache_server_name_normalized ~ '.key' %}
{%- endif %}
  SSLEngine on
  SSLCertificateFile      "{{ apache_ssl_certificate_path }}/{{ apache_server_ssl_certificate_file }}"
  SSLCertificateKeyFile   "{{ apache_ssl_certificate_key_path }}/{{ apache_server_ssl_certificate_key_file }}"
  SSLCACertificatePath    "{{ apache_ssl_certificate_path }}"
{% if apache_server_ssl_ca_file is defined %}
  SSLCACertificateFile    "{{ apache_ssl_certificate_path }}/{{ apache_server_ssl_ca_file }}"
{% endif %}

  ServerSignature Off

  ## Logging
  ErrorLog "{{ apache_log_path }}/{{ apache_server_name_normalized }}_error.log"
  CustomLog "{{ apache_log_path }}/{{ apache_server_name_normalized }}_access.log" combined

  ## Proxy rules
  ProxyRequests Off
  ProxyPreserveHost On
  RequestHeader set X-Forwarded-Proto "https"

  {{ apache_server_conf }}
</VirtualHost>
