{{ define "slack.chameleon.text" }}
{{ .CommonAnnotations.description }}
{{ if .CommonAnnotations.runbook -}}
<{{ .CommonAnnotations.runbook }}|:notebook: Runbook>
{{- else -}}
*No Runbook!* <https://github.com/ChameleonCloud/ansible-playbooks/wiki|Add runbook>
{{- end }}
{{ end }}

{{ define "slack.chameleon.color" }}
{{- if eq .Status "firing" -}}
  {{ if eq .CommonLabels.severity "warning" }}warning{{ else }}danger{{ end }}
{{- else -}}
  good
{{- end -}}
{{ end }}
