[DEFAULT]
log_dir = /var/lib/tempest
log_file = tempest.log

[auth]
use_dynamic_credentials = False
test_accounts_file = /etc/tempest/accounts.yaml

[identity]
uri_v3 = {{ keystone_public_url }}/v3
region = {{ openstack_region_name }}
v3_endpoint_type = public

[service_available]
cinder = {{ enable_cinder | default(false) | bool }}
neutron = {{ enable_neutron | default(false) | bool }}
glance = {{ enable_glance | default(false) | bool }}
swift = {{ (enable_ceph_rgw | default(false) | bool) or (enable_swift | default(false) | bool) }}
nova = {{ enable_nova | default(false) | bool }}
horizon = {{ enable_horizon | default(false) | bool }}

# from blazar tempest plugin
blazar = {{ enable_blazar | default(false) | bool }}

# from zun tempest plugin
zun = {{ enable_zun | default(false) | bool }}

[validation]
ping_timeout = 300
connect_timeout = 300
ssh_timeout = 300
image_ssh_user = cc

[compute]
{% if enable_nova | default(false) | bool %}
image_ref = {{ tempest_compute_image_uuid }}
image_ref_alt = {{ tempest_compute_image_uuid }}
flavor_ref = {{ tempest_flavor_uuid }}
{% endif %}
build_timeout = 900
fixed_network_name = {{ tempest_fixed_network_name }}

[compute-feature-enabled]

# must match value in nova.conf
scheduler_enabled_filters = ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,BlazarFilter

metadata_service = true
interface_attach = true
config_drive = true
serial_console = true

# not currently working with our ironic config
rescue = false

# Do these work??
#disk_config = true
#enable_instance_password = false
#change_password = false
#personality = false
#unified_limits = false

## VM only features, not applicable for barmetal
snapshot = false
resize = false
pause = false
shelve = false
shelve_migrate = false
suspend = false
cold_migration = false
live_migration = false
live_migrate_back_and_forth = false
vnc_console = false
attach_encrypted_volume = false
swap_volume = false
volume_backed_live_migration = false
volume_multiattach = false

[network]
public_network_id = {{ tempest_public_network_uuid }}
floating_network_name = {{ tempest_floating_network_name }}

[network-feature-enabled]
api_extensions = {{ tempest_network_api_extensions }}
ipv6 = false
shared_physical_network = true

[container_service]
min_microversion = 1.12

[object-storage-feature-enabled]
container_sync = false

[dashboard]
dashboard_url = {{ horizon_public_endpoint }}

[reservation]
{% if chameleon_enable_virtual %}
reservable_flavor_ref = {{ tempest_flavor_uuid }}
reservation_type = kvm
{% endif %}

[reservation-feature-enabled]
host_plugin = {{ tempest_reservation_host_plugin | bool }}
flavor_instance_plugin = {{ tempest_reservation_flavor_instance_plugin | bool }}
device_plugin = {{ tempest_reservation_device_plugin | bool }}
floatingip_plugin = {{ tempest_reservation_floatingip_plugin | bool }}
network_plugin = {{ tempest_reservation_network_plugin | bool }}
network_storage_plugin = {{ tempest_reservation_network_storage_plugin | bool }}
