[Unit]
Description=Jenkins slave agent
After=network.service

[Service]
Restart=always
ExecStart=/usr/bin/java -jar "{{ jenkins_slave_workdir }}/agent.jar" \
          -jnlpUrl "{{ jenkins_slave_master }}/computer/{{ jenkins_slave_name }}/slave-agent.jnlp" \
          -secret "{{ jenkins_slave_secret }}" \
          -workDir "{{ jenkins_slave_workdir }}"

[Install]
WantedBy=multi-user.target
