[Unit]
Description=Alertmanager server
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=alertmanager \
                          -v {{ prometheus_alertmanager_config_dir }}:/etc/alertmanager \
                          -v {{ prometheus_alertmanager_docker_volume_name }}:/alertmanager \
                          -p {{ prometheus_alertmanager_port }}:9093 \
                          {{ prometheus_alertmanager_docker_image }}
ExecStop=/bin/docker stop -t 2 prometheus
ExecStopPost=/bin/docker rm -f prometheus

[Install]
WantedBy=multi-user.target
