---
global:
  slack_api_url: {{ prometheus_alertmanager_slack_api_url }}

templates:
- '/etc/alertmanager/template/*.tmpl'

route:
  group_by: ['alertname', 'hostname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: 'default'

# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  equal: ['alertname', 'hostname']

receivers:
  - name: 'default'
    slack_configs:
    - channel: '#notifications'
      send_resolved: true
      text: '{{ template "slack.chameleon.text" . }}'
