---
{% if openstack_exporter_corsa_switches | length > 0 %}
switch_corsa:
  switches:
{% for switch in openstack_exporter_corsa_switches %}
    - name: {{ switch.name }}
      address: https://{{ switch.ip }}
      token: {{ switch.token }}
      ssl_verify: False
{% endfor %}
{% else %}
# If there is no key in the YAML file, it cannot be loaded by the default
# Python YAML libraries.
placeholder_for_valid_yaml:
{% endif %}
