---
{% if openstack_exporter_corsa_switches | length > 0 %}
switch_corsa:
  switches:
{% for switch in openstack_exporter_corsa_switches %}
    - name: {{ switch.name }}
      address: https://{{ switch.ip }}
      token: {{ switch.token }}
      ssl_verify: False
{% endfor %}
{% endif %}
