{% set alertmanager_service = prometheus_services['alertmanager'] %}
{% set alertmanager_host = ansible_internal_ipv4_addresses[groups[alertmanager_service.group][0]] %}
---
global:
  scrape_interval:     30s
  evaluation_interval: 30s

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets: ['{{ alertmanager_host }}:{{ alertmanager_service.port }}']

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - '/etc/prometheus/*-rules.yml'

scrape_configs:
{% for name, service in prometheus_services.iteritems() %}
{% if service.scrape_target | bool and groups[service.group] | length > 0 %}
- job_name: '{{ name }}'
{% if service.scrape_interval is defined %}
  scrape_interval: {{ service.scrape_interval }}
{% endif %}
  static_configs:
{% for host in groups[service.group] %}
  - targets: ['{{ ansible_internal_ipv4_addresses[host] }}:{{ service.port }}']
    labels:
      hostname: '{{ host }}'
{% endfor %}
{% endif %}
{% endfor %}
