[Unit]
Description=Prometheus server
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name=%N \
                          -v {{ prometheus_config_dir }}:/etc/prometheus \
                          -v {{ prometheus_docker_volume_name }}:/prometheus \
                          -p {{ prometheus_port }}:9090 \
                          {{ prometheus_docker_image }}
ExecStop=/bin/docker stop -t 2 %N
ExecStopPost=/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target
