[rabbitmq]
rabbitmq_host: rabbitmq
rabbitmq_user: %(EP_RABBITMQ_USERNAME)s
rabbitmq_pass: %(EP_RABBITMQ_PASSWORD)s

[mysql]
mysql_host: mysql
mysql_user: %(EP_MYSQL_USERNAME)s
mysql_pass: %(EP_MYSQL_PASSWORD)s
