[DEFAULT]
debug: False

[event_listener]

[rabbitmq]
rabbitmq_host: {{ precis_rabbitmq_host }}
rabbitmq_user: {{ precis_rabbitmq_user }}
rabbitmq_pass: {{ precis_rabbitmq_password }}

[mysql]
mysql_host: {{ precis_mysql_host }}
mysql_user: {{ precis_mysql_user }}
mysql_pass: {{ precis_mysql_password }}
