# {{ ansible_managed }}
[Unit]
Description=Experiment precis event listener
After=docker.service

[Service]
Restart=always
ExecStart=/bin/docker run --name %N \
                          --net {{ precis_docker_network }} \
                          --publish '{{ precis_bind_address }}:{{ precis_event_listener_prometheus_port }}:8000/tcp' \
                          --mount 'type=bind,src={{ precis_config_path }}/event_listener.conf,dst=/etc/experiment_precis/event_listener.conf' \
                          {{ precis_event_listener_docker_image }}
ExecStop=/bin/docker stop -t 2 %N
ExecStopPost=/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target
