CREATE OR REPLACE TRIGGER {{ item.source_db }}.trg_{{ item.source_table }}_audit_del
AFTER DELETE ON {{ item.source_db }}.{{ item.source_table }} FOR EACH ROW
BEGIN
    INSERT INTO openstack_audit.audit_{{ item.name }}
        (id, audit_event_type, audit_changed_by, data)
    VALUES (OLD.id, 'DELETE', USER(), JSON_OBJECT(
        {% for col in item.columns %}'{{ col }}', OLD.{{ col }}{{ ',' if not loop.last }}
        {% endfor %}));
END
