INSERT INTO openstack_audit.audit_{{ item.name }}
    (id, audit_event_type, audit_event_time, audit_changed_by, data)
SELECT
    src.id,
    'INSERT',
    src.created_at,
    'backfill',
    JSON_OBJECT(
        {% for col in item.columns %}'{{ col }}', src.{{ col }}{{ ',' if not loop.last }}
        {% endfor %})
FROM {{ item.source_db }}.{{ item.source_table }} src
WHERE NOT EXISTS (
    SELECT 1 FROM openstack_audit.audit_{{ item.name }} a
    WHERE a.id = src.id AND a.audit_event_type = 'INSERT'
)
{% if 'deleted_at' in item.columns %}
-- ---
INSERT INTO openstack_audit.audit_{{ item.name }}
    (id, audit_event_type, audit_event_time, audit_changed_by, data)
SELECT
    src.id,
    'DELETE',
    src.deleted_at,
    'backfill',
    JSON_OBJECT(
        {% for col in item.columns %}'{{ col }}', src.{{ col }}{{ ',' if not loop.last }}
        {% endfor %})
FROM {{ item.source_db }}.{{ item.source_table }} src
WHERE src.deleted_at IS NOT NULL
AND NOT EXISTS (
    SELECT 1 FROM openstack_audit.audit_{{ item.name }} a
    WHERE a.id = src.id AND a.audit_event_type = 'DELETE'
)
{% endif %}
