CREATE OR REPLACE TRIGGER {{ item.source_db }}.trg_{{ item.source_table }}_audit_upd
AFTER UPDATE ON {{ item.source_db }}.{{ item.source_table }} FOR EACH ROW
BEGIN
    IF {% for col in item.watch_columns %}NOT (OLD.{{ col }} <=> NEW.{{ col }}){{ ' OR ' if not loop.last }}{% endfor %} THEN
        INSERT INTO openstack_audit.audit_{{ item.name }}
            (id, audit_event_type, audit_changed_by, data)
        VALUES (NEW.id, 'UPDATE', USER(), JSON_OBJECT(
            {% for col in item.columns %}'{{ col }}', NEW.{{ col }}{{ ',' if not loop.last }}
            {% endfor %}));
    END IF;
END
